body {
  background-color: lightgray;
  font-family: sans-serif;
}

.pack-display {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #043c57;
  font-size: 150%;
}

th {
  color: #369;
  font-weight: normal;
  font-size: 120%;
  text-align: left;
}

th.song { width: 25%; }
th.pack { width: 33%; }

tr.pack-row {
  cursor: pointer;
}

td {
  border-collapse: collapse;
  border: 1px solid silver;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

img {
  max-height:100px; 
  border-radius: 10px;
}
