body {
  background-color: lightgray;
  font-family: sans-serif;
}

h1 {
  color: #043c57;
  font-size: 150%;
  margin-left: 2em;
}

th {
  color: #369;
  font-weight: normal;
  font-size: 120%;
  text-align: left;
}

td {
  border-collapse: collapse;
  border: 1px solid silver;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  table-layout: auto;
  width: 80%;
}

img {
  max-height:100px; 
}
